/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 615px;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content {
    margin: 0 auto;
    width: 1023px;
}

#hero .hero-content .sub-title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 16px;
}

#hero .hero-content .title-content {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

.btn-container {
    text-align: center;
}

.btn {
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
}

#card-box {
    width: 1320px;
    margin: 50px auto;
}

.title {
    width: 691px;
    margin: 50px auto;
}

.title p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 10px;
}

.title h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.card {
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.card .image-box {
    border-radius: 16px;
    margin-bottom: 32px;
    width: 424px;
}

.card .image-box img {
    width: 100%;
}

.card .shop {
    background: rgba(82, 195, 3, 0.15);
    padding: 14px 32px 14px 32px;
    color: rgb(16, 16, 16);
    border-radius: 8px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

.card h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    margin-bottom: 24px;

}

.card p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
}
.button-center{
    display: flex;
justify-content: center;
margin-top: 40px;
}